@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  color-scheme: light;
}
[data-theme=dark] {
  color-scheme: dark;
}
